html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  background-image: linear-gradient(to right, #c378f7, #0c8188);
  margin: 0% 10%;
  color: white;
}

h1 {
  margin-bottom: 0px;
  font-family: cursive;
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

input {
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 20px;
  box-shadow: 10px 10px;
}

input:focus {
  outline: 0;
}

ul {
  padding: 0px;
  column-count: 4;
  column-rule-width: thin;
  column-rule-color: #ffffff;
  column-rule-style: solid;
  column-width: auto;
  list-style-type: none;
}

li {
  font-size: 14px;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Arvo', serif;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #c378f7;
  font-size: 24px;
  margin: auto;
  box-shadow: none;
}

.show[value='Reset'] {
  background-color: #0c8188;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 40px;
}

#clicks {
  font-family: monospace;
  font-size: 24px;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  body {
    background-image: linear-gradient(#c378f7, #0c8188);
    background-attachment: fixed;
  }
}
