html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  background-image: linear-gradient(to right, #c378f7, #0c8188);
  margin: 0% 10%;
  color: white;
}

h1 {
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 350px;
}

input:focus {
  outline: 0;
}

article {
  display: flex;
  justify-content: space-around;
  height: 300px;
  width: 100%;
  margin: 15px;
}

.hidden {
  visibility: hidden;
}

.imgart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 20px;
  box-shadow: 10px 10px black;
}

.imgart:hover {
  cursor: pointer;
}

.show {
  visibility: visible;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #c378f7;
  font-size: 24px;
  margin: auto;
  box-shadow: none;
  color: white;
}

.show[value='Reset'] {
  background-color: #0c8188;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin: 40px;
}

#clicks {
  font-family: monospace;
  font-size: 24px;
  text-transform: uppercase;
}

#bar {
  background-color: white;
  visibility: hidden;
  margin: 30px;
  width: 100%;
}

#pie {
  background-color: white;
  visibility: hidden;
  width: 100%;
  margin: 30px;
}

@media (max-width: 500px) {
  body {
    background-image: linear-gradient(#c378f7, #0c8188);
    background-attachment: fixed;
  }
}
